
.fifthSectionImg {
  background: url("../img/YikeBoard_13.jpg") no-repeat top right;
  background-size: 110%;
  width: 100vw;
  height: 25rem;
}

.colorChoiseImg {
  background: url("../img/YikeBoard_14.png") no-repeat center left;
  background-size: 41%;
  width: 75vw;
  height: 34rem;
  transform: rotate(90deg);
}

.fifthSectionIcon {
  background: url("../img/YikeBoard_Icon_3.svg") no-repeat center;
  background-size: 15%;
  margin-top: 4rem;
  width: 100vw;
  height:10rem;
}
