
.fourthSectionImg {
  background: url("../img/YikeBoard_12.jpg") no-repeat top left;
  background-size: 130%;
  width: 100vw;
  height: 25rem;
}

.fourthSectionIcon {
  background: url("../img/YikeBoard_Icon_3.svg") no-repeat center;
  background-size: 15%;
  margin-top: 4rem;
  width: 100vw;
  height:10rem;
}
