@import '../_variables.scss';

nav {
    width: 100%;
    height: $navBarHeight;
    background-color:transparent;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.nav__whiteBG {
    background-color: white;
    -webkit-box-shadow: 0px 0px 47px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 47px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 47px -11px rgba(0,0,0,0.75);
}


.nav__burgerMenu {
    width: 15%;
    background-color: green;
    margin-left: 1rem;
}

.nav__logo {
    width: 40%;
    height: 52px;
    background: url("../img/YikeBoard_Logo.png") center no-repeat;
    background-size: 80%;
}

.header {
    height: 100vh;
    display: flex;
    background: url("../img/YikeBoard_8.jpg") 41% 0;
    background-size: 270%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 6rem;
    font-family: "Arial ", sans-serif;
    position: relative;
    &:after {
        content: '\A';
        position: absolute;
        height:100vh;
        width: 100%;
        top:0;
        left:0;
        background:rgba(0,0,0,0.5);
    }
    .header__content {
        z-index: 2;
        color: #fff;
        h1 {
            font-family: "Anton", sans-serif;
            font-weight: 900;
            font-size: 5rem;
            letter-spacing: 1rem;
            margin-top: 6rem;
            text-transform: uppercase;
            color: white;
        }
        h2 {
            font-weight: 500;
            font-size: 2rem;
            text-transform: uppercase;
            color: white;
            margin-bottom: 7rem;
        }
    }
}

@media screen and (min-width: 650px) {
    header.header {
        background-size: auto;
    }
    h1#header__title {
        text-align: right;
        width: 60%;
        margin-left: 20%;
        font-size: 9rem;
        display: inline-block;
        line-height: 12rem;
        font-weight: lighter;
        margin-top: 12rem;
    }
    h2#header__second-title{
        width: 78%;
        text-align: right;
        font-size: 3rem;
    }
    button#header__order-button{
        text-align: right;
        margin-left: 61%;
        padding: 1.5% 3% 1%;
    }
}
