@import '../_variables.scss';
footer {
  height: 60vh;
  background-color: #5B5B5B;
  h2 {
    padding: 4rem 0;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  form {
    width: 100%;
    input[type="email"] {
      width: 80%;
      border-radius: 2pt;
      border: 2px solid rgb(227, 227, 227);
      filter: opacity(28%);
      line-height: 4rem;
      margin: 0 10%;
    }
    input[type="submit"] {
      width: 40%;
      margin-top: 10%;
      margin-left: 30%;
      margin-right: 30%;
      padding: 2%;
      font-size: 2rem;
      text-transform: capitalize;
      background-color: $primary;
      color: #fff;
      border-radius: 2pt;
      border: 1pt solid $primary;
    }
  }
}
