.performancesSection {
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .iconContainer {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 4%;
    margin: 2%;
    .speedIcon {
      background: url("../img/speedIcon.svg") center no-repeat;
      width: 30px;
      height: 30px;
    }
    .batteryIcon {
      background: url("../img/batteryIcon.svg") center no-repeat;
      width: 30px;
      height: 30px;
    }
    .weightIcon {
      background: url("../img/weightIcon.svg") center no-repeat;
      width: 30px;
      height: 30px;
    }
    .angleIcon {
      background: url("../img/angleIcon.svg") center no-repeat;
      width: 30px;
      height: 30px;
    }
  }
  .imgContainer {
    background: url("../img/YikeBoard_14.png") no-repeat center;
    height: 35%;
    width: 25%;
    margin: 2%;
    transform: rotate(90deg);
    background-size: 89%;
  }
  .perfContainer {
    height: 80%;
    width: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    div {
      text-transform: uppercase;
      color: #AAAAAA;
      font-size: 1.6rem;
    }
  }
  .statsContainer {
    height: 80%;
    width: 8%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .boardOneStats {
      width: 120px;
      height: 120px;
      margin: 4% 0;
      border-radius: 100%;
      border: 1px solid #AEAEAE;
      display: flex;
      flex-direction: column;
      align-items: center;

      justify-content: center;
      font-size: 4.5rem;
      span {
        font-size: 1.4rem;
      }
    }
    .boardTwoStats {
      width: 120px;
      height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 4.5rem;
      margin: 4% 0;
      border-radius: 100%;
      border: 1px solid #AEAEAE;
      span {
        font-size: 1.4rem;
      }
    }
  }
  .motorsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 4%;
    font-size: 1.9rem;

    .boardOneMotors {
      width: 50px;
      height: 50px;
      margin: 0;
      background: url("../img/motors.svg") center no-repeat;
    }
    .boardTwoMotors {
      width: 50px;
      height: 50px;
      margin: 50% 0 0 0;
      background: url("../img/motors.svg") center no-repeat;
    }
  }
}

.performancesTitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-family: sans-serif;
  font-size: 2.8rem;
  margin: 5% 0;
}

.activePerfColor {
  color: red;
}


@media screen and (max-width: 1000px) {

  .performancesSection {
    .imgContainer {
      display: none;
    }
    .statsContainer {
      width: 30%;
    }
    .iconContainer {
      width: 16%;
    }
    .perfContainer {
      width: 25%;
    }
    .motorsContainer {
      width: 16%;
    }
  }
}