
.thirdSectionImg {
  background: url("../img/YikeBoard_11.jpg") no-repeat center left;
  background-size: 130%;
  width: 100%;
  height: 25rem;
}

.thirdSectionIcon {
  background: url("../img/YikeBoard_Icon_2.svg") no-repeat center;
  background-size: 15%;
  margin-top: 4rem;
  width: 100%;
  height: 10rem;
}

@media screen and (min-width: 650px) {
  div.thirdSectionIcon {
    background-size: 12%;
  }
}
