
.secondSectionImg {
  background: url("../img/YikeBoard_10.jpg") no-repeat center;
  background-size: 130%;
  width: 100%;
  height: 25rem;
}

.secondSectionIcon {
  background: url("../img/YikeBoard_Icon_1.svg") no-repeat center;
  background-size: 15%;
  margin-top: 4rem;
  width: 100%;
  height:10rem;
}

@media screen and (min-width: 650px) {
  .secondSection {
    float: left;
    width: 33.3%;
    margin: 0;
  }

  .fourthSection {
    width: 100%;
  }
  .secondSection .secondSectionIcon {
    background-size: 12%;
  }
}
