.contactSection {
  width: 100%;
  height: 100vh;
  background-color: #444;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  h2 {
    color: #23a455;
    font-size: 3rem;
    font-weight: 900;
    padding: 4rem 0;
  }
  p {
    font-size: 2rem;
  }
  span {
    padding: 4rem 0;
    font-size: 2.5rem;
  }
  span:last-child {
    font-size: 1.3rem;
  }
}