<section class="secondSection">
    <div class="secondSectionImg"></div>
    <div class="secondSectionIcon"></div>
    <div class="sectionContent">
        <h2>Carbon fiber</h2>
        <p>The YikeBoard is the first of the three, brand new last mile transport products to be released over the next year, all using the same portable battery technology and all made from the very best carbon fiber materials.
        </p>
    </div>
</section>