<section class="contactForm hidden">
    <div class="contactForm__bg">
        <div class="contactForm__bg__opacity">
            <div class="cross">
                <span class="down"></span>
                <span class="up"></span>
            </div>
            <h2>Contact us</h2>
            <form method="post">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <label for="mail">Email address</label>
                <input type="email" name="mail" id="mail">
                <label for="message">message</label>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Write your message here"></textarea>
                <input type="submit" id="subscribe" name="subscribe" value="Submit">
            </form>
        </div>
    </div>
</section>