<section class="secondSection">
    <div class="fifthSectionImg"></div>
    <div class="fifthSectionIcon"></div>
    <div class="sectionContentPerf">
        <h2>Choose your color</h2>
    </div>
    <div class="colorChoiseImg"></div>
    <div class="circleButtonContainer">
        <div class="blueCircleButton">

        </div>
        <div class="greenCircleButton">

        </div>
        <div class="redCircleButton">

        </div>
    </div>
</section>