<h2 class="performancesTitle" >Performances</h2>
<section class="performancesSection" id="performances">
    <div class="iconContainer">
        <div class="speedIcon"></div>
        <div class="batteryIcon"></div>
        <div class="weightIcon"></div>
        <div class="angleIcon"></div>
    </div>

    <div class="perfContainer">
        <div class="activePerfColor">speed</div>
        <div>autonomy</div>
        <div>Weight</div>
        <div>Angle</div>
    </div>

    <div class="imgContainer">

    </div>

    <div class="statsContainer">

        <div class="boardOneStats"><p class="perfKeyOne">15</p> <span class="mesurePerfKeyOne">MPH</span></div>
        <div class="boardTwoStats"><p class="perfKeyTwo">20</p> <span class="mesurePerfKeyTwo">MPH</span></div>

    </div>
    <div class="motorsContainer">
        <div class="boardOneMotors"></div>1
        <div class="boardTwoMotors"></div>2
    </div>
</div>




</section>