include ../common/header.pug

<main id="contentPage">
    include sections/header.pug
    include sections/firstSection.pug
    include sections/secondSection.pug
    include sections/thirdSection.pug
    include sections/fourthSection.pug
    include sections/fifthSection.pug
    include sections/sixthSection.pug
    include sections/seventhSection.pug
</main>



