//include ../common/header.pug
<link href="https://fonts.googleapis.com/css?family=Anton|Arimo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<main id="contentPage">

    include ../common/navBar.pug
    include sections/header.pug
    include sections/firstSection.pug
    include sections/secondSection.pug
    include sections/thirdSection.pug
    include sections/fourthSection.pug
    //include sections/fifthSection.pug
    //include sections/sixthSection.pug
    include sections/performancesSection.pug
    include sections/newsletter.pug
    include sections/contactForm.pug
    include sections/seventhSection.pug
</main>



