include ../common/header.pug
<link href="https://fonts.googleapis.com/css?family=Anton|Arimo" rel="stylesheet">

<main id="contentPage">

    include ../common/burgerMenu.pug
    include sections/header.pug
    include sections/firstSection.pug
    include sections/secondSection.pug
    include sections/thirdSection.pug
    include sections/fourthSection.pug
    include sections/fifthSection.pug
    include sections/sixthSection.pug
    include sections/newsletter.pug
    include sections/seventhSection.pug
    include sections/contactForm.pug
</main>



