@import 'blocs/header';
@import 'blocs/newsletter';
@import 'blocs/burgerMenu';
@import 'blocs/firstSection';
@import 'blocs/secondSection';
@import 'blocs/thirdSection';
@import 'blocs/fourthSection';
@import 'blocs/fifthSection';
@import 'blocs/sixthSection';
@import 'blocs/seventhSection';
@import 'blocs/contactForm';

@import 'variables';


* {
  box-sizing: border-box;
  margin : 0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

#contentPage {
  height: auto;
  &__mobile {
  }
  &__tablette {
    width: 90vw;
    margin: 0 auto;
  }
  &__desktop {
    width: 85vw;
    margin: 0 auto;
  }
}

.sectionContent {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  h2 {
    padding: 0 0 7% 0;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: bold;
  }
}

.circleButtonContainer {
  width: 60%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.redCircleButton {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: red;
}

.greenCircleButton {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: green;
}

.blueCircleButton {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background-color: blue;
}

button {
  padding: 1rem 3rem;
  background-color: #27ae60 ;
  border: none;
  color: white;
  margin: 4rem 0;
  font-size: 3rem;
  text-transform: uppercase;
}
