<ul class="burgerMenu">
    <li class="closeButton">X</li>
    <li><a href="#">Home</a></li>
    <li><a href="#firstSectionImg">Board</a></li>
    <li><a href="#performances">Performances</a></li>
    <li><a href="#contactSection">About us</a></li>
    <li><a href="#" class="btn-contact">Contact</a></li>
</ul>